<div class="page-header">
  <h1 class="text-center" style="word-break:break-word;">
  	<strong>New Attack</strong><br>
    <small>Please type the url of the attack below:</small>
  </h1>
 </div>
<%= render 'form' %>

<%#= link_to 'Back', attacks_path %>
