<h1>About Us</h1>
<p>
Our vision is to provide information and analysis to aid in the constant battle againt online fraud.
Centurion is a nonprofit security research project created by a team of security researchers.
Our team has 5 years of security experience working with top international security operations centers and a range of first to third tier financial institutions.
Utilizing our experience, we have consolodated industry practices into a single, streamlined way to register, process, and monitor cases of online fraud.
If you identify with our vision, you can assist by signing up and registering cases of online fraud you encouter.
Should you have any questions, feel free to reach out via our Contact Us page!
</p>
