// Place all the styles related to the Attacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color_palette";
@import "sidebar_nav";
// @import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Philosopher|Raleway:500|Cinzel');

.URL {
  overflow: hidden;
  // width: 75%;
}
.URL:hover {
  overflow: auto;
}
.all_content {
  background-color: rgba($gray_alt_2, .3);
  // background: $dark_alt_1; /* For browsers that do not support gradients */
  // color: $gold_alt_1;
  color: $gray_alt_5;
  // font-family: 'Philosopher', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 90vh;
  // background: -webkit-linear-gradient(top, $dark,  $dark_alt_1, $dark); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(bottom, $dark,  $dark_alt_1, $dark); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(bottom, $dark,  $dark_alt_1, $dark); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to bottom, $dark,  $dark_alt_1, $dark); /* Standard syntax (must be last) */
}
.container-fluid {
  // padding-left: 0; //this locks the sidebar nav against the left side
}
.page_content {
  // background-color: rgba($gray_alt_2, .3);
  // box-shadow: $box_shadow_default;
  text-shadow: $text_shadow_default;
  padding-top: 10px;
  overflow: auto;
  margin-right: 2px;
  // margin-bottom: 3px;
  padding: 15px 15px 0px 15px;
  min-height: 90vh;
}
.afterCheck {
  display: none;

}
table {
  // color: $gold_alt_1;
  color: $gray_alt_5;
  margin-top: 30px;
  margin-bottom: 5px;
  th{
    color: $gold_alt_2;
    text-shadow: $text_shadow_default;
    text-align: center;
    border-color: $red !important;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
  #header_row:hover {
    background-color: transparent !important;
  }
  td {
    text-align: center;
    text-shadow: $text_shadow_default;
    border-top: none !important;
  }
  tr:hover {
    background-color: $gray_alt_2 !important;
    color: rgba($gold_alt_3, 1);
  }
  a {
    text-decoration: none;
    color: $red_alt_1;
  }
  a:hover {
    color: $red_alt_3;
    text-decoration: none;
  }
}
.search_box {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid $red;
  box-shadow: none !important;
  color: $gold_alt_1;
  float:right !important;
  width: 85% !important;
  text-shadow: $text_shadow_default;
}
.search_box:focus {
  border-bottom: 1px solid $red;
}
#search_button {
  margin-top: 10px;
  background: transparent;
  border: none;
}
.buttons {
  margin-top: 10px;
  margin-left: 50px;
}
._button {
  border: 1px solid $red;
  padding: 10px 15px;
  color: $gold_alt_1;
  text-decoration: none;
  background-color: $gray;
  text-shadow: $text_shadow_default;
  margin-bottom: 5px;
}
._button:hover {
  color: $gold_alt_2;
  text-decoration: none;
  background-color: $gray_alt_2;
}
.pagination {
  margin-top: 0px;
  margin-bottom: 5px;
  .current {
    color: $gold_alt_2;
    font-size: 1.2em;
    padding: 3px;
    text-shadow: $text_shadow_default;
  }
  a{
    color: $gray_alt_5;
    text-shadow: $text_shadow_default;
  }
}
.breadcrumb {
  li + li:before {
    color: $red_alt_1;
    text-shadow: $text_shadow_default;
  }
  .active {
    color: $gold_alt_1;
    text-shadow: $text_shadow_default;
  }
  a{
    color: $gold;
    text-shadow: $text_shadow_default;
  }
  a:hover {
    text-decoration: none;
    color: $gold_alt_2;
  }
  background: transparent;
  margin-left: 5px;
}
// -------------------- Show page -------------------- //
.status_img {
  height: 60px;
  border: 1px solid $red;
  padding: 10px;
  float: left;
}
#url_box {
  margin-top: 22px;
}
.well {
  background: $dark;
  margin: 0px;
  border: 1px solid $red;
  padding: 8px;
  margin-bottom: 4px;
}
.well2 {
  background: $dark;
  margin: 0px;
  border: 1px solid $gold;
  padding: 8px;
  margin-bottom: 4px;
}
.site_traffic_box {
  height: 175px;
  border: 1px solid $gold;
}
._button2 {
  border: 1px solid $gold;
  padding: 10px 15px;
  color: $gold_alt_1;
  text-decoration: none;
  background-color: $gray;
  text-shadow: $text_shadow_default;
}
._button2:hover {
  color: $gold_alt_2;
  text-decoration: none;
  background-color: $gray_alt_2;
}
.info {
  color: $gold_alt_3;
}
input::-webkit-input-placeholder {
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input:-moz-placeholder { /* Firefox 18- */
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input:-ms-input-placeholder {
  color: $gold !important;
  text-shadow: $text_shadow_alt_1;
}

:focus {
  outline: none !important;
}
