// Place all the styles related to the Attacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color_palette";
@import "sidebar_nav";
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Philosopher');
.URL {
  overflow: hidden;
  // width: 75%;
}
.URL:hover {
  overflow: auto;
}
body {
  background-color: $gray;
  color: $gold_alt_1;
  font-family: 'Philosopher', sans-serif;
}
.container-fluid {
  padding-left: 0; //this locks the sidebar nav against the left side
}
.page_content {
  background-color: rgba($gray_alt_2, .5);
  box-shadow: $box_shadow_default;
  padding-top: 10px;
  overflow: auto;
}
table {
  color: $gold_alt_1;
  margin-top: 30px;
  th{
    color: $gold_alt_2;
    text-shadow: $text_shadow_default;
    text-align: center;
    border-color: $red !important;
    font-family: 'Cinzel', serif !important;
    font-size: 1.2em;
  }
  #header_row:hover {
    background-color: transparent !important;
  }
  td {
    text-align: center;
    text-shadow: $text_shadow_default;
    border-top: none !important;
  }
  tr:hover {
    background-color: $gray_alt_2 !important;
    color: rgba($gold_alt_3, 1);
  }
}
.search_box {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid $red;
  box-shadow: none !important;
  color: $gold_alt_1;
  float:right;
  width: 90%;
  text-shadow: $text_shadow_default;
}
.search_box:focus {
  border-bottom: 1px solid $red;
}
#search_button {
  margin-top: 10px;
}
.buttons {
  margin-top: 10px;
}
._button {
  border: 1px solid $red;
  padding: 10px 15px;
  color: $gold_alt_1;
  text-decoration: none;
  background-color: $gray;
  text-shadow: $text_shadow_default;
}
._button:hover {
  color: $gold_alt_2;
  text-decoration: none;
  background-color: $gray_alt_2;
}
input::-webkit-input-placeholder {
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input:-moz-placeholder { /* Firefox 18- */
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}

input:-ms-input-placeholder {
color: $gold !important;
text-shadow: $text_shadow_alt_1;
}
