$gray: #232323;
$gray_alt_1: #383838;
$gray_alt_2: #545454;
$gray_alt_3: #727272;
$gray_alt_4: #A8A8A8;

$blue: #023F4A;
$blue_alt_1: #115865;
$blue_alt_2: #2A6C78;
$blue_alt_3: #478793;
$blue_alt_4: #85B5BE;

$gold: #705400;
$gold_alt_1: #9D7600;
$gold_alt_2: #C19000;
$gold_alt_3: #F0B504;
$gold_alt_4: #FBCB3E;

$red: #6C0008;
$red_alt_1: #8E000A;
$red_alt_2: #AC000D;
$red_alt_3: #C6000F;
$red_alt_4: #CF000F;

$text_shadow_default: 1px 1px 3px rgba(0,0,0, .7);
$text_shadow_alt_1: 1px 1px 2px rgba(0,0,0, .5);
$box_shadow_default: 2px 2px 6px rgba(0, 0, 0, .7);
