@import "color_palette";
@import url('https://fonts.googleapis.com/css?family=Cinzel');
.navbar {
  background-color: $gray;
  border-radius: 0;
  border: none;
  margin-bottom: 0px;

  a{
    color: $gold_alt_1 !important;
    text-shadow: $text_shadow_default;
    font-family: 'Cinzel', serif !important;
  }
  // box-shadow: $box_shadow_default;
}
