@import 'color_palette';
.sidebar_nav_container{
  background-color: rgba($gray_alt_2, .5);
  color: rgba($gold, .6);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .7);
}
.sidebar_nav_entry {
    border-bottom: 1px solid $gold_alt_1;
    color: rgba($gold_alt_1, 1);
    padding: 5px;
    a {
      text-decoration: none;
      color: rgba($gold_alt_1, 1);
      text-shadow: $text_shadow_default;
    }
}
.sidebar_nav_entry:hover {
    color: rgba($gold_alt_3, 1);
    a{
      color: rgba($gold_alt_3, 1);
    }
}
